<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909464891678-tnfautvfva8ornf27p560sr3jr947k3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909464891678-tnfautvfva8ornf27p560sr3jr947k3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAmjzQU77DBSSmQ9usC19t8NRmYUXQQQME</string>
	<key>GCM_SENDER_ID</key>
	<string>909464891678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexusMeet</string>
	<key>PROJECT_ID</key>
	<string>nexus-meet</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-meet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909464891678:ios:b2b9da656ea6856eab590f</string>
</dict>
</plist>