<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3ycZ4mZGaw3seaOHrOel3CfYRPRCotC8</string>
	<key>GCM_SENDER_ID</key>
	<string>366343536705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoir.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>memoir-b4ce2</string>
	<key>STORAGE_BUCKET</key>
	<string>memoir-b4ce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366343536705:ios:9c65f78896216922e006c0</string>
</dict>
</plist>